.popup_container{
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}
.popup_main{
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -30%);
    display: flex;
    flex-direction: column;
  
    width: 530px;
    height: 40%;
    background-color: transparent;
}
.popup_body{
    width: 700px;
    height: 80%;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    padding: 20px;
    border-radius: 10px;
}

.popup_main_long{
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -30%);
    display: flex;
    flex-direction: column;
  
    width: 530px;
    height: 80%;
    background-color: transparent;
}
.popup_body_long{
    width: 700px;
    height: 80%;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    padding: 20px;
    border-radius: 10px;

}

.close_popup{
    position: absolute;
    margin-left: 700px;
    cursor: pointer;
}
.close_img{
    width: 45px;
}

.payCard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.payCard-image {
    width: 80%;
    height: auto;
}

.payCard-text {
    position: absolute;
    top: 75%; 
    left: 40%; 
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 25px; 
    font-weight: bold; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}
.payCard-box{
    overflow-y: auto;
    max-height: 470px;
}
.test{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}
.payCard-blurred {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payCard-blurred .payCard-image {
    filter: blur(6px); 
}
.payCard-plus {
    position: absolute;
    top: 50%; 
    left: 48%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}
